body{
    font-size: 16px;
    background-color: #ECECEC;
    font-family: sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #30364F;
  border-radius: 0;
  border: 1;
  border-color: black;
  height: 80px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-family: sans-serif;
  color: #ECECEC;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  line-height: .75;
}

h2 {
  font-family: sans-serif;
  color: #30364F;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.main-text {
  background-color: lightgrey;
  margin: 10px;
  margin-top: 40px
}

h3 {
  font-family: sans-serif;
  color: #30364F;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}

.main-text p {
  font-family: sans-serif;
  color: #30364F;
  padding: 10px
}

.navbar-header button.navbar-toggle .icon-bar {
  background-color:#30364F;
  border: 2px solid #ECECEC
}

#nav-list {
  margin-top: 10px;
  background-color:#30364F;
}
#nav-list a {
  color:#ECECEC;
  text-align: center;
}
#nav-list a:hover {
  background: lightgrey;
}
#nav-list a span {
  font-size: 1.8em;
}

@media (min-width: 767px) {
    .h {
    display:none;
}
}

@media (max-width:766px) {
    .main-text {
        margin:60px;
}
}