body{
    font-size: 16px;
    background-color: #ECECEC;
    font-family: sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #30364F;
  border-radius: 0;
  border: 0;
  height: 100px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-family: sans-serif;
  color: #ECECEC;
  font-size: 1.5em;
  text-align: auto;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}