body{
    font-size: 16px;
    color: #F0F0DB;
    background-color: #F0F0DB;
    font-family: sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #30364F;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}